<h1>Edit your comment</h1>

<%= form_tag project_comment_path, :method => :patch %>
    <div class="field">
      <p><%= label_tag :content %></p>
      <p><%= text_field_tag :content %></p>
    </div>

    <div class="field">
      <p><%= submit_tag  %></p>
    </div>

<%= link_to "Delete Comment", project_comment_path(@project, @comment), method: 'delete' %>
