<h1><%= @project.title %></h1>
<h3> Categories </h3>
<ul>
  <% @project.categories.each do |cat| %>
  <li> <%= cat.tag %></li>
  <% end %>
</ul>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>
<p><%= link_to "Created by #{@project.user.full_name}",  user_path(@project.user)%></p>
<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
<p>Time left to go: <%= @project.time_left %></p>

<% if current_user != nil %>
<p>Total amount Pledged: <%= @project.total_pledge %>$</p>
  <%if @project.user != current_user %>
<% if @project.pledges.pluck(:user_id).include?(session[:user_id]) %>
<p>You have already backed this project</p>
<%else %>
<p>You have not backed this project yet</p>
<%end %>
<%end %>
<%end %>


<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>

<% if current_user && (@project.user_id == current_user.id) %>
  <ul>
    <%@project.pledges.each_with_index do |ple,i|%>
        <% unless ple == nil %>
          <li><%= (i+1).ordinalize %> pledge supported by : <%= ple.user.email %></li>
        <% end %>
    <% end  %>
  </ul>
<% end  %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>
  <%if @project.user == current_user %>
  <p>
    <small>
      <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
  </p>
  <%end %>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>

<h4>Add An Comment</h4>
<p>
  <%= form_for [@project, Comment.new] do |f| %>
  <%= f.text_area :content %>
  <%= f.submit  %>
</p>
<% end %>

<h4>Previous Comments</h4>
  <ul>
    <%@project.comments.reverse.each_with_index do |com,i|%>
        <% unless com == nil %>
          <li><%= (i+1)%>. <%= com.content %> <%= com.created_at %></li>
          <%= link_to "Edit Comment", edit_project_comment_path(@project, com),method: 'get' %>
        <% end %>
    <% end %>
  </ul>
